.section--reviws {
  width: 100%;
  max-width: 100%;
}

.ul--review {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 2rem 0;
}

.review-card {
  width: 300px;
  background-color: var(--bg-header);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.review-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.2);
}

.review-card img {
  width: 100%;
  object-fit: cover;
  height: 150px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.review-details {
  padding: 1.5rem;
}

.review-details h3 {
  font-size: 1.2em;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

.review-profession {
  font-size: 0.95em;
  color: var(--text-color);
  font-weight: 600;
  margin: 0.5rem 0 1rem;
}

.review-message {
  font-style: italic;
  color: var(--text-color);
}

.review-rating {
  color: gold;
  font-size: 1.5em;
  margin-top: 1rem;
}

@media (max-width:550px) {
  .review-card {
    width: 90%;

  }
}